<section>
<div class="bold">{{localize 'PEN.actorImporterHint'}}</div>
<textarea class="actor-import" id="src-text" name='srcText'>{{srcText}}</textarea>
<br>
<button  class="actor-import-button"type="button" data-action="process_text">{{localize 'PEN.process'}}</button>
</section>
