<section class="Pendragon" id="economic-form">
  <br>
  <div class="flexrow">
    <label class="stat-name">{{ localize 'PEN.chooseSOL' }}</label>
    <select class="stat-name centre" name="decisionChoice">
      {{selectOptions solType selected=selectType}}
    </select>
  </div>
  <br>
</section>